/* Customized Bootstrap Theming */
.bg-dark {
  background-color: #282c34 !important;
}
.text-light {
  color: #abb2c0 !important;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
body .navbar a:link,
head .navbar a:link,
body .navbar a:visited,
head .navbar a:visited {
  color: #abb2c0;
}
body .navbar a:hover,
head .navbar a:hover,
body .navbar a:active,
head .navbar a:active {
  color: #ff69b4;
}
body .blinking-cursor-welcome,
head .blinking-cursor-welcome {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .blinking-cursor-welcome:after,
head .blinking-cursor-welcome:after {
  content: '';
  width: 20px;
  height: 30px;
  background: #ff69b4;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
body .container-fluid .navbar-brand,
head .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .container-fluid .navbar-brand:after,
head .container-fluid .navbar-brand:after {
  content: '';
  width: 10px;
  height: 20px;
  background: #ff69b4;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
body .container a:link,
head .container a:link {
  color: #abb2c0;
  text-decoration: underline;
}
body .container a:visited,
head .container a:visited {
  color: #abb2c0;
  text-decoration: underline;
}
body .container a:hover,
head .container a:hover {
  border: none;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 #ff69b4;
  transition-property: box-shadow;
  transition-duration: 0.1s;
}
body .container a:active,
head .container a:active {
  color: #abb2c0;
  text-decoration: none;
}
body .container img,
head .container img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
body .container h4 a:link,
head .container h4 a:link {
  color: inherit;
  text-decoration: none;
}
body .container h4 a:visited,
head .container h4 a:visited {
  color: inherit;
  text-decoration: none;
}
body .container ul,
head .container ul {
  list-style-type: disc;
  list-style-position: inside;
}
